<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-secondary sidebar collapse">
  <ul>
    <li class="list-group mt-3 mb-3"><a th:href="@{/New}" class="text-decoration-none text-light"><i class="bi bi-pencil me-2"></i>伝票登録</a></li>
    <li class="list-group mt-3 mb-3"><a th:href="@{/}" class="text-decoration-none text-light"><i class="bi bi-book me-2"></i>伝票一覧</a></li>
    <li class="list-group mt-3 mb-3">
		<a th:href="@{/ItemNew}" class="text-decoration-none text-light">
			<i class="bi bi-box-fill me-2"></i>商品登録
		</a>
	</li>
    <li class="list-group mt-3 mb-3">
		<a th:href="@{/ItemIndex}" class="text-decoration-none text-light">
			<i class="bi bi-boxes me-2"></i>商品一覧</a>
	</li>
    <li class="list-group mt-3 mb-3">
		<a th:href="@{/Export}" class="text-decoration-none text-light">
			<i class="bi bi-boxes me-2"></i>エクスポート</a>
	</li>
    <!--<li class="list-group mt-3 mb-3"><a th:href="@{/customers}" class="text-decoration-none text-light">お客様一覧</a></li>-->
  </ul>
</nav>